
/*header*/
Header{
  background: #88cf58;
  height: 60px;
  align-content: center;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: #1732da;
  font-size: 20px;
  font-weight: bold;
}
.form-container {
  padding-left: 15px;
  padding-right: 15px;
}
/*main*/
.title{
  font-weight: 700;
  text-align: center;
  color: #88cf58;
  margin-top: 10px;
}
.inputText{
  border: 4px solid #7ed214;
  height: 50px;
  padding-left: 12px;
  font-family: Roboto, sans-serif;
  font-size: .875rem;
}

/*search*/
.button{
  margin-top: 10px;
  padding: 5px 15px;
  background: none #7ed214;
  border: none;
  box-shadow: none;
  font-family: Roboto, sans-serif;
  color: #0c0d0d;
  font-size: .875rem;
  font-weight: 700;
  width: auto;
  height: 50px;
}
.containers {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}
h2 {
  font-size: 28px;
  color: #333;
}
.card-header {
  background-color: #f1f1f1;
  border: none;
  padding: 0;
}
.card-header .btn {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  width: 100%;
  text-align: left;
}
.card-header .btn:hover {
  background-color: #e2e2e2;
}
.card-body {
  font-size: 14px;
  color: #555;
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #ddd;
}
.card {
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
}
.card:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.btn-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-link .fas {
  transition: transform 0.3s ease;
}
.btn-link[aria-expanded="true"] .fas {
  transform: rotate(180deg);
}
/* phần tải video*/
.video {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rows {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}
.header div, .rows div {
  flex: 1;
  text-align: center;
}
hr {
  border: none;
  border-top: 1px solid #0c0d0d;
  margin: 10px 0;
}
.button-load{
  background: none #1abc9c;
  border: none;
  box-shadow: none;
  color: #ffffff;
  display: block;
}
.button-reload{
  background: none #474949;
  border: none;
  box-shadow: none;
  color: #ffffff;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*load video*/
#btn_download, #loading {
  background-color: #0098ff
}

.img-button {
  width: 28px
}

#card_download {
  width: 100%;
  padding: 0 !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5)
}

#thumbnail {
  display: block;
  width: 100%;
  height: 23rem;
  object-fit: cover;
  object-position: center
}

#image-wrapper {
  position: relative
}

#play-image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  width: 50px;
  height: 50px
}

.des-container, nav {
  padding: .5rem 1.2rem !important
}

#btn_download, #btn_paste, #btn_clear, #ip_link, #loading {
  padding: .7rem !important;
  font-size: .9rem
}

#dropdownMenuButton1, #insta {
  font-size: 1.5rem !important;
}

h1 {
  font-size: 1.8rem !important;
}

h2 {
  font-size: 1.6rem !important;
}

h3 {
  font-size: 1.1rem !important;
}

p {
  font-size: 1rem
}

@media screen and (min-width: 500px) {
  #btn_download, #loading {
    width: 100%
  }

  .des-container, nav {
    padding: .5rem 3rem !important
  }

  #card_download {
    width: 100%
  }

  #thumbnail {
    width: 100%;
    height: 28rem
  }
}

@media screen and (min-width: 576px) {
  #btn_download, #loading {
    width: auto
  }

  .des-container, nav {
    padding: .5rem 1.5rem !important
  }

  #btn_download, #btn_paste, #btn_clear, #ip_link, #loading {
    padding: 0.8rem !important;
    font-size: 1rem
  }

  #insta {
    font-size: 1.6rem !important;
  }

  #dropdownMenuButton1 {
    font-size: 1.2rem !important;
  }

  #card_download {
    width: 49%
  }

  #thumbnail {
    width: 100%;
    height: 20rem
  }
}

@media screen and (min-width: 650px) {
  #input_container {
    width: 75%
  }

  #btn_download, #loading {
    width: auto
  }

  .des-container, nav {
    padding: .5rem 3.5rem !important
  }

  #card_download {
    width: 49%
  }

  #thumbnail {
    width: 100%;
    height: 20rem
  }
}

@media screen and (min-width: 768px) {
  #input_container {
    width: 70%
  }

  #thumbnail {
    width: 100%;
    height: 22rem
  }

  .des-container, nav {
    padding: .5rem 5rem !important
  }
}

@media screen and (min-width: 850px) {
  .des-container, nav {
    padding: .5rem 5rem !important
  }

  #thumbnail {
    width: 100%;
    height: 27rem
  }
}

@media screen and (min-width: 992px) {
  #input_container {
    width: 60%
  }

  #thumbnail {
    width: 100%;
    height: 28rem
  }

  .des-container, nav {
    padding: .5rem 6rem !important
  }
}

@media screen and (min-width: 1200px) {
  #input_container {
    width: 65%
  }

  #card_download {
    width: 32%
  }

  #thumbnail {
    width: 100%;
    height: 23rem
  }

  .des-container, nav {
    padding: .5rem 5rem !important
  }
}

@media screen and (min-width: 1400px) {
  #input_container {
    width: 45%
  }

  #card_download {
    width: 32%
  }

  #thumbnail {
    width: 100%;
    height: 28rem
  }

  .des-container, nav {
    padding: .5rem 6rem !important
  }

  #btn_download, #btn_paste, #btn_clear, #ip_link, #loading {
    padding: 1rem !important;
    font-size: 1.1rem
  }

  #insta {
    font-size: 1.8rem !important;
  }

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.8rem !important;
  }

  h3 {
    font-size: 1.4rem !important;
  }

  p {
    font-size: 1.1rem
  }
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.containerss {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.features {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.feature {
  flex: 1 1 30%; /* Ensure the items shrink and grow appropriately */
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.feature-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /*margin-right: 20px;*/
}
.feature-header img {
  width: 32px; /* Adjust the size of the image */
  height: 32px; /* Adjust the size of the image */
  margin-right: 10px;
}
.feature-header h3 {
  font-size: 1.2em;
  margin: 0;
}
.feature p {
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
}
p {
  text-align: justify;
}
@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }
  .feature {
    flex: 1 1 100%;
  }
}

.fb-section {
  padding: 20px 20px 20px
}
/* General styles */
ul.listicon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

ul.listicon li:not(:last-child) {
  margin-right: 5px;
}

.mw70 {
  max-width: 700px;
  margin: 0 auto;
}

ul.liststep {
  flex-wrap: nowrap;
  max-width: 100%;
}

ul.liststep li {
  display: table;
  width: auto;
}

ul.liststep li .number {
  font-weight: 600;
  font-size: 45px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  display: table;
  color: #fff;
  background: #2c3e50;
  text-align: center;
  margin-right: 5px;
  -webkit-box-shadow: 0 1px 5px #d0d0d0;
  box-shadow: 0 1px 5px #d0d0d0;
}

ul.listicon li:nth-child(2n) .number {
  background: #fc573b;
}

ul.listicon li:nth-child(3n) .number {
  background: #00b887;
}

ul.liststep li span {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* Mobile styles */
@media (max-width: 600px) {
  ul.listicon {
    flex-direction: column;
    align-items: center;
  }

  ul.listicon li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  ul.liststep li {
    width: 120%;
    justify-content: center
  }

  ul.liststep li .number {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
  }
}
.containersss {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #324a5e;
  color: #ffffff;
  border-radius: 10px;
  text-align: center; /* Center align text in the container */

}

.featuress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: left; /* Align text to the left for feature items */
}
.feature-item {
  display: flex;
  align-items: center;
}
.feature-item::before {
  content: '✔';
  color: #00FF00;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .featuress {
    grid-template-columns: 1fr;
  }
}